.analyze-text{
    color: #222426;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.Total-amount{
    border: 1px solid black;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #55925f;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
}