.main-text{
    color: #222426;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.secondary-text{
    text-align: center;
    font-size: 20px;
    color: #6d7173;
    font-family: "Bebas Neue", sans-serif;
}

.Remainder{
    border: 1px solid #307fe6;
    background: linear-gradient(to right, #216dda, #2877e0);
    padding: 20px 25px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}

.Profit{
    border: 1px solid #41a47b;
    background: linear-gradient(to right, #318e6b, #41a47b);
    padding: 20px 25px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}

.Calendar{
    border: 1px solid #f58d34;
    background: linear-gradient(to right, #f2761e, #f68831);
    padding: 20px 25px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}

.blocks{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.remaining-stock{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
}