.main-text{
    color: #222426;
    font-family: "Bebas Neue", sans-serif;
}

.add-goods{
    border: 1px solid #f58d34;
    background: linear-gradient(to right, #f2761e, #f68831);
    padding: 0px 20px;
    display: inline-block;
    color: white;
    border-radius: 5px;
}